/*list style1*/

.list-type1{
	line-height: normal; 
	box-sizing: content-box;
    width:100%;
    margin:0 auto;

}
.list-type1 ol{
    margin-left: 15px;
    counter-reset: li;
    list-style: none;
    *list-style: decimal;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin-bottom: 4em;

}
.list-type1 ol ol{
    margin: 0 0 0 2em;
}

.list-type1 a{
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    *padding: .4em;
    margin: .5em 0;
    background: #d7d7bf;
    color: #000;
    text-decoration: none;
    -moz-border-radius: .3em;
    -webkit-border-radius: .3em;
    border-radius: 10em;
    transition: all .2s ease-in-out; 
}

.list-type1 a span.first{
    color: #27636d;
}

.list-type1 a span.second{
    color: #bb5538;
}

.list-type1 a span.third{
    color: #888a85;
}

.list-type1 a span.fourth{
    color: #000;
}

.list-type1 a span.fifth{
    color: #357180;
}

.list-type1 a:before{
    content: counter(li);
    counter-increment: li;
    position: absolute; 
    left: -1.3em;
    top: 50%;
    margin-top: -1.3em;
    background:#bb5538;
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: .3em solid #fff;
    text-align: center;
    font-weight: bold;
    -moz-border-radius: 2em;
    -webkit-border-radius: 2em;
    border-radius: 2em;
    color:#FFF;
}

@media only screen and (min-width: 800px) {
    .list-type1 a:hover{
        background: #d0d0d0;
        text-decoration:none;
        transform: scale(1.1);
    }
}

body, .content:after {
    background: #357180;
}

a {
    color: #2c3032;
}

.shadow{
  font-family:Mr Dafoe, sans-serif;
  font-size:2em;
  text-align:center;
  color: white;
  text-shadow: 0 -3px 0 #333,
    0 6px 8px rgba(0,0,0,.4),
    0 9px 10px rgba(0,0,0,.15),
    0 30px 10px rgba(0,0,0,.18),
    0 15px 10px rgba(0,0,0,.21);
}

/*end list style1*/

/*list style3*/

.list-type3{
    overflow: hidden;
    margin:0 auto;
    width:100%;
}
.list-type3 li, .list-type3  a{
    display: block;
    padding-right: 25px;
    float:left;
    height:35px;
    line-height:37px;
    position:relative;
    font-size:15px;
    margin-bottom: 12px;
    font-family: 'Raleway', sans-serif;
    transition: background-color 1.5s ease;
}
.list-type3  a{
    padding:0 60px 0 12px;
    background:#0089e0;
    color:#fff;
    text-decoration:none;
    -moz-border-radius-bottomright:4px;
    -webkit-border-bottom-right-radius:4px; 
    border-bottom-right-radius:4px;
    -moz-border-radius-topright:4px;
    -webkit-border-top-right-radius:4px;    
    border-top-right-radius:4px;    

} 
.list-type3  a:before{
    content:"";
    float:left;
    position:absolute;
    top:0;
    left:-12px;
    width:0;
    height:0;
    border-color:transparent #0089e0 transparent transparent;
    border-style:solid;
    border-width: 18px 12px 18px 0;

}
.list-type3  a:after{
    content:"";
    position:absolute;
    top:15px;
    left:0;
    float:left;
    width:6px;
    height:6px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    background:#fff;
    -moz-box-shadow:-1px -1px 2px #004977;
    -webkit-box-shadow:-1px -1px 2px #004977;
    box-shadow:-1px -1px 2px #004977;
}
.list-type3 a:hover{background:#555;}   

.list-type3 a:hover:before{border-color:transparent #0089e0 transparent transparent;}
/*end list style3*/