---
layout: default
title: みんなことば
---

<!-- list style only for minna -->
<link rel="stylesheet" href="{{ "/assets/css/list-style.css" | prepend: site.baseurl }}">

<div class="home" id="home">
  


  <div class="list-type1">
  {% for vocal in site.data.vocals %}
    {% for vocals in vocal %}

			<!-- minna chapter by array index -->
			{% for title in vocals[2].title %}
				<p class="shadow">{{ title }}</p>
			{% endfor %}
		    
			
		     <ol>
		     {% for chapterWords in vocals[2].words %}
			  <li>
				  <a href="#">
					  <span class="first">{{chapterWords.hiragana}}</span>
					  <span class="second">{{chapterWords.romaji}}</span> [<span class="third">{{chapterWords.kanji}}</span>]<br>
					  <span class="fourth">{{chapterWords.english}}</span>
					  <span class="fifth">{{chapterWords.myanmar}}</span>
				  </a>
			  </li>
			{% endfor %}
		     </ol>

    {% endfor %}
  {% endfor %}
  </div>
  
  
  CSS list style from <a href="https://www.formget.com/css-lists/">FormGet</a>  
  

</div>
